body{
    background-color: rgb(255, 200, 133);
}

.rectangle{
    width: 450px;
    height: 300px;
    Display: flex;
    justify-content: center;
    margin-left: 500px;
    margin-top: 200px;
    background-color: rgb(234, 88, 149);
    border-radius: 18px;
    border: 4px solid #c00e0e;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.rectangle1{
    Display: flex;
    justify-content: center;
    width: 320px;
    height: 150px;
    margin-top: 80px;
    background-color:rgb(61, 191, 85);
    border-radius: 15px;
    top: 10px;
    border: 2px solid #030a13;
    /* font-family: 'Times New Roman', Times, serif; */
}

.rectangle2{
    Display: flex;
    justify-content: center;
    width: 150px;
    height: 65px;
    margin-top: 40px;
    background-color:rgb(25, 130, 228);
    align-items: center;
    border-radius: 15px;
    padding-top: 5px;
    color: brown;
    border: 2px solid #5a4be2;
    font-family: 'Times New Roman', Times, serif;

}
